<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表</title>
</head>
<body>
    <h1>maodo-list</h1>
    <ul>

    </ul>
    <p>标题<input type="text" name="title" class="title"><br></p>
    <p>内容
       <textarea name="content" id="" cols="30" rows="10" class="content">

        </textarea>
    </p>
    <button class="add">添加</button>
    <script src="./jquery.js"></script>
    <script>
        $.ajax({
            url:'/demoed',
            type:'get',
            success:function(mg){
                if(mg.code==1){
                    var str="";
                    for(var i=0;i<mg.msg.length;i++){
                        str+='<li><a href="/detail?No='+mg.msg[i].No+'">'+mg.msg[i].title+'</a></li>'
                    }
                    $('ul').html(str);
                }
            }
        })
        $('.add').on('click',function(){
            var title=$('.title').val(),
                content=$('.content').val();
            console.log(title);
            $.ajax({
                url:'/add',
                type:'post',
                data:{title:title,content:content},
                success:function(msg){
                    if(msg.code==0){
                        window.location.reload();
                    }
                }
            })
        })
    </script>
</body>
</html>